body {
  /* background-image: url(./img/img-login-wallpaper.jpg); */
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/*Sing and Sign up*/
.signup-page {
  width: 360px;
  padding: 7% 0 0;
  margin: auto;
}

.text_sign_up {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}

.form {
  position: relative;
  z-index: 1;
  background: #fff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 35px;
  text-align: center;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form textarea {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.message {
  font-family: "Roboto", sans-serif;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #01579b;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

/* Home */

/* Navbar */
.navbar {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover {
  background-color: #0277bd;
  color: #fff;
}

h2{
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 max-width: 400px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header.topbar {
  background-color: #f5f5f5;
  position: fixed;
  width: 100%;
  /* height: 60px; */
  top: 0;
  left: 0;
}

#content {
  margin-top: 100px;
  z-index: 0;
  position: absolute;
}

.link-right-position {
  float: right;
  font-size: 17px;
}

/* Main */

.meetups-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 100px;
}

.meetups-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 3em;
  margin: 50px;
  padding-bottom: 30px;
}

.meetups-wrapper,
div {
  font-family: "Roboto", sans-serif;
}

.text-meetup {
  font-size: 17px;
  color: gray;
}

.meetups1-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 15px;
  row-gap: 3em;
  margin: 50px;
}
* {
  box-sizing: border-box;
}

.btn-open {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #01579b;
  width: 20%;
  border: 0;
  padding: 13px;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  margin-left: 40px;
}

.btn-open-home {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #2e7d32;
  width: 20%;
  border: 0;
  padding: 13px;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  margin-left: 20px;
}

.btn-open-home-edit {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #01579b;
  width: 20%;
  border: 0;
  padding: 13px;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}

.btn-delete {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #b71c1c;
  width: 20%;
  border: 0;
  padding: 13px;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}

.meetups-wrapper {
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  border-radius: 5px;
  /* background-color: #fff4e6; */
}

.meetups-wrapper > div {
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 1em;
  color: #212121;
}

.meetups1-wrapper {
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  border-radius: 5px;
  /* background-color: #fff4e6; */
}

.meetups1-wrapper > .meetup1 {
  border-radius: 5px;

  background-color: #f5f5f5;
  padding: 1em;
  color: #212121;
}

/* Meetup 1 style */
.btn-ask-question-right {
  border-radius: 5px;
  padding: 1em;
  float: right !important;
  color: #212121;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form_ask_question {
  position: relative;
  z-index: 1;
  background: #fff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 35px;
  text-align: center;
}

.form_ask_question textarea {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form_ask_question input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form_ask_question button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #01579b;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.fa-thumbs-up {
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}
.fa-thumbs-down {
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

.fa-thumbs-down:hover {
  color: darkblue;
}

.fa-thumbs-up:hover {
  color: darkblue;
}

.container-questions .list {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #616161;
  font-size: 20px;
}

.container-questions .list span {
  display: inline;
}

.container-questions h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 35px;
}

.container-questions .list span {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: darkblue;
  font-size: 15px;
}

.container-questions .list span .input-comment {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 15%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.container-questions .list span .btn-comment {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #01579b;
  width: 4%;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.container-questions .list .view-comment-style {
  cursor: pointer;
}

hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #eeeeee, #eeeeee, #eeeeee);
  background-image: -moz-linear-gradient(left, #eeeeee, #eeeeee, #eeeeee);
  background-image: -ms-linear-gradient(left, #eeeeee, #eeeeee, #eeeeee);
  background-image: -o-linear-gradient(left, #eeeeee, #eeeeee, #eeeeee);
}

@media only screen and (max-width: 600px) {
  .btn-open {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #01579b;
    width: 80%;
    border: 0;
    padding: 13px;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
  }

  .container-questions .list span .btn-comment {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #01579b;
    width: 100%;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }

  .container-questions .list span .input-comment {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }

  /* .btn-open-home {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #01579b;
    width: 30%;
    border: 0;
    color: #fff;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
  } */

  .btn-delete {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #b71c1c;
    width: 30%;
    border: 0;
    color: #fff;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
  }

  .meetups-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    display: table-cell !important;
    vertical-align: middle !important;
  }

  .meetups-wrapper,
  .meetup-grid {
    margin-bottom: 20px;
    margin-left: 40px;
  }
}

.container-profile {
  margin-left: 80px;
}

.container-profile p {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

.container-profile span {
  color: #0277bd;
  font-size: 20px;
}

.Reset {
  color: blue !important;
  font-size: 20px;
}

/* Footer */

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
