{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6
    },
    "env": {
      "node": true,
      "browser": true,
      "es6": true,
      "amd": true,
      "mocha": true
      },
      "rules": {
        "comma-dangle": ["error", "never"],
        "no-unused-vars": ["error", { "vars": "local", "args": "none" }],
         'no-console': 'off',
         'no-plusplus': 'off'
        }
}
