body {
  /* background-image: url(./img/img-login-wallpaper.jpg); */
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/*Sing and Sign up*/
.signup-page {
  width: 360px;
  padding: 7% 0 0;
  margin: auto;
}

.text_sign_up {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}

.form {
  position: relative;
  z-index: 1;
  background: #fff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 35px;
  text-align: center;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.message {
  font-family: "Roboto", sans-serif;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #01579b;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

/* Home */

/* Navbar */
.navbar {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #0277bd;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header.topbar {
  background-color: #f8f6f6;
  position: fixed;
  width: 100%;
  height: 60px;
  opacity: 0.7;
  z-index: 1;
  top: 0;
  left: 0;
}

#content {
  margin-top: 100px;
  z-index: 0;
  position: absolute;
}

.link-right-position {
  float: right;
  font-size: 17px;
}

/* Main */

.meetups-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 100px;
}

.meetups-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 3em;
  margin: 50px;
  padding-bottom: 30px;
}
* {
  box-sizing: border-box;
}

.btn-open {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #01579b;
  width: 20%;
  border: 0;
  padding: 13px;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}

.btn-delete {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #b71c1c;
  width: 20%;
  border: 0;
  padding: 13px;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}

.meetups-wrapper {
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  border-radius: 5px;
  /* background-color: #fff4e6; */
}

.meetups-wrapper > div {
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 1em;
  color: #212121;
}

/* Footer */

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
